<a href="https://colab.research.google.com/github/olatkem/googlecolab/blob/master/Week_4_Assignment(Kayode_Olatunji).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. Name and Email as Comments

In [0]:
# Kayode Olatunji

# olatkem@gmail.com

#### 2. Python Data Types

1. Numbers(Integer, Floating point number and complex number) 
2. List
3. Tuple
4. string
5. Dictionary
6. Set
7. DataFrame

####  A. Numbers

In [0]:
# Integers
x = 5
type(5)

int

In [0]:
y = 5.0
type(y)

float

In [0]:
c = 7 + 4j
type(c)

complex

#### B. List [  ]

In [0]:
customer_info = ['kate', 8.6,'perry', 7.6, 'Arith','Ruth',9.6,'Ether',5.5,'Ruth', 6.3]
customer_info

['kate', 8.6, 'perry', 7.6, 'Arith', 'Ruth', 9.6, 'Ether', 5.5, 'Ruth', 6.3]

In [0]:
type(customer_info)

list

#### C. Tuple (  )

In [0]:
Employee = ('Tola', 30000, 'Richard', 45000, 'Benson', 75000, 'Reath', 56000)
Employee

('Tola', 30000, 'Richard', 45000, 'Benson', 75000, 'Reath', 56000)

In [0]:
type(Employee)

tuple

#### D. String '  '

In [0]:
x = 'Hellon Python'
type(x)

str

#### E. Dictionary {  }

In [0]:
cus  =  {'FirstName': ['Larry','Dolly','Patty','Bola','Joan'],
         'LastNmae' : ['John','Paymen','Taiman','Viza','Dindi'],
         'Age'      : [26,45,32,45,34],
         'Salary'   : [20000,30000,45000,18000,60000],
         'City'     : ['San Francisco','Lagos','Abuja','Ottawa','Cagliary'],
         'Phone'    : [81907567,74905654,81654488,42908877,74776655]}
type(cus)

dict

#### F. Set

In [0]:
my_set = set([1, 2, 3, 4, 5])
type(my_set)

set

In [0]:
my_set = {1, 2, 3, 4, 5}
type(my_set)

set

#### G. DataFrame

In [0]:
import pandas as pd

cus  =  {'FirstName': ['Larry','Dolly','Patty','Bola','Joan'],
         'LastNmae' : ['John','Paymen','Taiman','Viza','Dindi'],
         'Age'      : [26,45,32,45,34],
         'Salary'   : [20000,30000,45000,18000,60000],
         'City'     : ['San Francisco','Lagos','Abuja','Ottawa','Cagliary'],
         'Phone'    : [81907567,74905654,81654488,42908877,74776655]}
customer_info = pd.DataFrame(cus)
customer_info

  FirstName LastNmae  Age  Salary           City     Phone
0     Larry     John   26   20000  San Francisco  81907567
1     Dolly   Paymen   45   30000          Lagos  74905654
2     Patty   Taiman   32   45000          Abuja  81654488
3      Bola     Viza   45   18000         Ottawa  42908877
4      Joan    Dindi   34   60000       Cagliary  74776655

In [0]:
type(customer_info)

pandas.core.frame.DataFrame

#### 3. Python Keywords

In [0]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [0]:
#1. import
#2. as
#3. True
#4. False
#5. del
#6. from